body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 10px;
}

.buttons {
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container div {
    border: 1px solid black;
}